[submodule "wiait22-scenario"]
	path = wiait22-scenario
	url = git@github.com:dfki-asr/wiait22-scenario.git
[submodule "wiait22-behaviors"]
	path = wiait22-behaviors
	url = git@github.com:dfki-asr/wiait22-behaviors.git
[submodule "sparql-api-wrapper"]
	path = sparql-api-wrapper
	url = git@github.com:tospie/sparql-api-wrapper.git
	branch = rdf-emitting-endpoint
